{% include "indexOrigin.html" %}

<body>
    {% include "navbar.html" %}
    <div class="fundo">

        <div class="imagens">
            <img src="{{url_for('static', filename='./img/icons.jpeg')}}" alt="">
            <img src="{{url_for('static', filename='./img/icons-2.jpeg')}}" alt="">
            <img src="{{url_for('static', filename='./img/celular.jpeg')}}" alt="">
        </div>
        <div class="compras">

            <div class="compra">
                <img src="{{url_for('static', filename='./img/corte_cabelo1.jpg')}}" alt="">
                <h3 id="nome">Corte de Cabelo Masculino Clássico</h3>
                <p id="descricao">Um corte tradicional que nunca sai de moda, ideal para quem busca um visual elegante e atemporal.</p>
                <p id="valor">R$ 50</p>
                <div class="botao-comprar">
                    <button id="comprar_corte1">Agendar</button>
                </div>
            </div>
            
            <div class="compra">
                <img src="{{url_for('static', filename='./img/corte_cabelo2.jpg')}}" alt="">
                <h3 id="nome">Corte de Cabelo Masculino Moderno</h3>
                <p id="descricao">Um corte inovador e atualizado, perfeito para quem gosta de estar sempre na moda e experimentar novos estilos.</p>
                <p id="valor">R$ 70</p>
                <div class="botao-comprar">
                    <button id="comprar_corte2">Agendar</button>
                </div>
            </div>
            <div class="compra">
                <img src="{{url_for('static', filename='./img/corte_cabelo1.jpg')}}" alt="">
                <h3 id="nome">Corte de Cabelo Masculino Clássico</h3>
                <p id="descricao">Um corte tradicional que nunca sai de moda, ideal para quem busca um visual elegante e atemporal.</p>
                <p id="valor">R$ 50</p>
                <div class="botao-comprar">
                    <button id="comprar_corte1">Agendar</button>
                </div>
            </div>
            
            <div class="compra">
                <img src="{{url_for('static', filename='./img/corte_cabelo2.jpg')}}" alt="">
                <h3 id="nome">Corte de Cabelo Masculino Moderno</h3>
                <p id="descricao">Um corte inovador e atualizado, perfeito para quem gosta de estar sempre na moda e experimentar novos estilos.</p>
                <p id="valor">R$ 70</p>
                <div class="botao-comprar">
                    <button id="comprar_corte2">Agendar</button>
                </div>
            </div>
            <div class="compra">
                <img src="{{url_for('static', filename='./img/corte_cabelo1.jpg')}}" alt="">
                <h3 id="nome">Corte de Cabelo Masculino Clássico</h3>
                <p id="descricao">Um corte tradicional que nunca sai de moda, ideal para quem busca um visual elegante e atemporal.</p>
                <p id="valor">R$ 50</p>
                <div class="botao-comprar">
                    <button id="comprar_corte1">Agendar</button>
                </div>
            </div>
            
            <div class="compra">
                <img src="{{url_for('static', filename='./img/corte_cabelo2.jpg')}}" alt="">
                <h3 id="nome">Corte de Cabelo Masculino Moderno</h3>
                <p id="descricao">Um corte inovador e atualizado, perfeito para quem gosta de estar sempre na moda e experimentar novos estilos.</p>
                <p id="valor">R$ 70</p>
                <div class="botao-comprar">
                    <button id="comprar_corte2">Agendar</button>
                </div>
            </div>
            <div class="compra">
                <img src="{{url_for('static', filename='./img/corte_cabelo1.jpg')}}" alt="">
                <h3 id="nome">Corte de Cabelo Masculino Clássico</h3>
                <p id="descricao">Um corte tradicional que nunca sai de moda, ideal para quem busca um visual elegante e atemporal.</p>
                <p id="valor">R$ 50</p>
                <div class="botao-comprar">
                    <button id="comprar_corte1">Agendar</button>
                </div>
            </div>
            
            <div class="compra">
                <img src="{{url_for('static', filename='./img/corte_cabelo2.jpg')}}" alt="">
                <h3 id="nome">Corte de Cabelo Masculino Moderno</h3>
                <p id="descricao">Um corte inovador e atualizado, perfeito para quem gosta de estar sempre na moda e experimentar novos estilos.</p>
                <p id="valor">R$ 70</p>
                <div class="botao-comprar">
                    <button id="comprar_corte2">Agendar</button>
                </div>
            </div>
            <div class="compra">
                <img src="{{url_for('static', filename='./img/corte_cabelo1.jpg')}}" alt="">
                <h3 id="nome">Corte de Cabelo Masculino Clássico</h3>
                <p id="descricao">Um corte tradicional que nunca sai de moda, ideal para quem busca um visual elegante e atemporal.</p>
                <p id="valor">R$ 50</p>
                <div class="botao-comprar">
                    <button id="comprar_corte1">Agendar</button>
                </div>
            </div>
            
            <div class="compra">
                <img src="{{url_for('static', filename='./img/corte_cabelo2.jpg')}}" alt="">
                <h3 id="nome">Corte de Cabelo Masculino Moderno</h3>
                <p id="descricao">Um corte inovador e atualizado, perfeito para quem gosta de estar sempre na moda e experimentar novos estilos.</p>
                <p id="valor">R$ 70</p>
                <div class="botao-comprar">
                    <button id="comprar_corte2">Agendar</button>
                </div>
            </div>
            <div class="compra">
                <img src="{{url_for('static', filename='./img/corte_cabelo1.jpg')}}" alt="">
                <h3 id="nome">Corte de Cabelo Masculino Clássico</h3>
                <p id="descricao">Um corte tradicional que nunca sai de moda, ideal para quem busca um visual elegante e atemporal.</p>
                <p id="valor">R$ 50</p>
                <div class="botao-comprar">
                    <button id="comprar_corte1">Agendar</button>
                </div>
            </div>
            
            <div class="compra">
                <img src="{{url_for('static', filename='./img/corte_cabelo2.jpg')}}" alt="">
                <h3 id="nome">Corte de Cabelo Masculino Moderno</h3>
                <p id="descricao">Um corte inovador e atualizado, perfeito para quem gosta de estar sempre na moda e experimentar novos estilos.</p>
                <p id="valor">R$ 70</p>
                <div class="botao-comprar">
                    <button id="comprar_corte2">Agendar</button>
                </div>
            </div>

            


        <!-- Modal Carrinho -->
        <div id="modalCarrinho" class="modal">
            <div class="modal-content">
                <span class="fecharModalCarrinho">&times;</span>
                <h2>Carrinho de Compras</h2>
                <div class="modal-body" id="listaProdutosCarrinho">
                    <!-- Aqui serão listados os itens do carrinho -->
                </div>
            </div>
        </div>
</div>

        
    {% include "footer.html" %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script 
    src="{{url_for('static', filename='./js/main.js')}}">  

    </script>
</body>
</html>
